<li class="nav-item <%= "active open" if ["erp/sales/backend/sales", "erp/orders/backend/frontend_orders"].include?(params[:controller]) %>">
    <a href="javascript:;" class="nav-link nav-toggle">
        <i class="fa fa-line-chart"></i>
        <span class="title"><%= t('.sale') %></span>
        <% if ["erp/sales/backend/sales", "erp/orders/backend/frontend_orders"].include?(params[:controller]) %>
            <span class="selected"></span>
            <span class="arrow open"></span>
        <% else %>
            <span class="arrow"></span>
        <% end %>
    </a>
    <ul class="sub-menu">
        <li class="nav-item">
            <a href="<%= erp_sales.backend_sales_orders_path %>" class="nav-link">
                <span class="title"><%= t('.orders') %></span>
            </a>
        </li>
        <% if Erp::Core.available?("online_store") %>
            <li class="nav-item">
                <a href="<%= erp_orders.backend_frontend_orders_path %>" class="nav-link">
                    <span class="title"><%= t('.frontend_orders') %></span>
                </a>
            </li>
        <% end %>
    </ul>
</li>