<% content_for :title do %>
    <%= t('.orders') %>
<% end %>

<% content_for :page_title do %>
    <i class="icon-pie-chart"></i> <%= t('.orders') %>
<% end %>

<% content_for :page_toolbar do %>
    <div class="btn-group">
        <div class="clearfix">
        </div>
    </div>
<% end %>

<% content_for :page_toolbar do %>
    <%= erp_component('button/create', {
        text: t('.create_customer_order'),
        href: erp_orders.new_backend_order_path(type: Erp::Orders::Order::TYPE_SALES_ORDER),
        class: 'btn-noborder'
    }) %>
<% end %>

<% content_for :global_filter do %>
    <% saved_filters = current_user.get_filters(erp_sales.backend_sales_orders_listing_path) %>
    <div class="row top-datalist">
        <div class="col-md-2">
            <%= erp_form_control('date', {
                value: (saved_filters["from_date"].present? ? saved_filters["from_date"].to_date : nil),
                label: 'Từ ngày',
                name: 'from_date',
                placeholder: 'Chọn ngày'
            }) %>
        </div>
        <div class="col-md-2">
            <%= erp_form_control('date', {
                value: (saved_filters["to_date"].present? ? saved_filters["to_date"].to_date : nil),
                label: 'Đến ngày',
                name: 'to_date',
                placeholder: 'Chọn ngày'
            }) %>
        </div>
        <div class="col-md-2">
            <%= erp_form_control('dataselect', {
                label: 'Mốc thời gian',
                name: 'period',
                value: saved_filters["period"],
                text: saved_filters["period"].present? ? Erp::Periods::Period.find(saved_filters["period"]).name : nil,
                placeholder: 'Chọn khoảng thời gian',
                url: erp_periods.dataselect_backend_periods_path(format: 'json'),
            }) %>
        </div>
        <div class="col-md-3">
            <%= erp_form_control("dataselect", {
                name: 'warehouse',
                label: t('.filter_warehouse'),
                placeholder: t('.choose_warehouse'),
                value: saved_filters["warehouse"],
                text: saved_filters["warehouse"].present? ? Erp::Warehouses::Warehouse.find(saved_filters["warehouse"]).name : nil,
                url: erp_warehouses.dataselect_backend_warehouses_path(format: 'json'),
            }) %>
        </div>
        <div class="col-md-3">
            <%= erp_form_control("dataselect", {
                name: 'customer',
                label: t('.filter_customer'),
                placeholder: t('.choose_customer'),
                value: saved_filters["customer"],
                text: saved_filters["customer"].present? ? Erp::Contacts::Contact.find(saved_filters["customer"]).name : nil,
                url: erp_contacts.dataselect_backend_contacts_path(format: 'json', is_customer: true),
            }) %>
        </div>
    </div>
    <% if Erp::Core.available?("ortho_k") %>
        <div class="row top-datalist">
            <div class="col-md-3">
                <%= erp_form_control("dataselect", {
                    name: 'doctor',
                    label: 'Bác sĩ',
                    placeholder: 'Tìm theo bác sĩ',
                    value: saved_filters["doctor"],
                    text: saved_filters["doctor"].present? ? Erp::Contacts::Contact.find(saved_filters["doctor"]).name : nil,
                    url: erp_contacts.dataselect_backend_contacts_path(format: 'json', is_customer: true, contact_group_id: Erp::Contacts::ContactGroup::GROUP_DOCTOR),
                }) %>
            </div>
            <div class="col-md-3">
                <%= erp_form_control("dataselect", {
                    name: 'patient',
                    label: 'Bệnh nhân',
                    value: saved_filters["patient"],
                    text: saved_filters["patient"].present? ? Erp::Contacts::Contact.find(saved_filters["patient"]).name : nil,
                    placeholder: 'Tìm theo bệnh nhân',
                    url: erp_contacts.dataselect_backend_contacts_path(format: 'json', is_customer: true, contact_group_id: Erp::Contacts::ContactGroup::GROUP_PATIENT),
                }) %>
            </div>
            <div class="col-md-3">
                <%= erp_form_control("dataselect", {
                    name: 'patient_state',
                    label: 'Tình trạng bệnh nhân',
                    placeholder: 'Tìm theo tình trạng BN',
                    value: saved_filters["patient_state"],
                    text: saved_filters["patient_state"].present? ? Erp::OrthoK::PatientState.find(saved_filters["patient_state"]).name : nil,
                    url: erp_ortho_k.dataselect_backend_patient_states_path(format: 'json'),
                    multiple: true
                }) %>
            </div>
        </div>
    <% end %>
<% end %>

<%= erp_datalist(
    url: erp_sales.backend_sales_orders_listing_path,
    keyword: true,
    actions: [

    ],
    filters: [
        {
            text: t('.draft'), name: 'status', value: Erp::Orders::Order::STATUS_DRAFT, checked: true
        },
        {
            text: t('.stock_checking'), name: 'status', value: Erp::Orders::Order::STATUS_STOCK_CHECKING, checked: true
        },
        {
            text: t('.stock_checked'), name: 'status', value: Erp::Orders::Order::STATUS_STOCK_CHECKED, checked: true
        },
        {
            text: t('.stock_approved'), name: 'status', value: Erp::Orders::Order::STATUS_STOCK_APPROVED, checked: true
        },
        {
            text: t('.confirmed'), name: 'status', value: Erp::Orders::Order::STATUS_CONFIRMED, checked: true
        },
        {
            text: t('.deleted'), name: 'status', value: Erp::Orders::Order::STATUS_DELETED, checked: false
        },
        {
            divider: true
        },
        {
            text: t('.paid'), name: 'cache_payment_status', value: Erp::Orders::Order::PAYMENT_STATUS_PAID, checked: false
        },
        {
            text: t('.overdue'), name: 'cache_payment_status', value: Erp::Orders::Order::PAYMENT_STATUS_OVERDUE, checked: false
        },
        {
            text: t('.debt'), name: 'cache_payment_status', value: Erp::Orders::Order::PAYMENT_STATUS_DEBT, checked: false
        },
        {
            text: t('.return_back'), name: 'cache_payment_status', value: Erp::Orders::Order::PAYMENT_STATUS_OVERPAID, checked: false
        }
    ],
    columns: [
        {
            text: t('.order_code'), name: 'order_code', value: true, checked: true
        },
        {
            text: t('.customer'), name: 'customer', value: true, checked: true
        },
        {
            text: t('.quantity'), name: 'quantity', value: true, checked: true
        },
        {
            text: t('.total'), name: 'total', value: true, checked: true
        },
        {
            text: t('.remain'), name: 'remain', value: true, checked: false
        },
        {
            text: t('.order_date'), name: 'order_date', value: true, checked: true
        },
        {
            text: t('.debt_deadline'), name: 'deadline', value: true, checked: false
        },
        {
            text: t('.note'), name: 'note', value: true, checked: true
        },
        {
            text: t('.status'), name: 'status', value: true, checked: true
        },
        {
            text: t('.employee'), name: 'employee', value: true, checked: true
        },
        {
            text: t('.creator'), name: 'creator', value: true, checked: false
        },
        {
            text: t('.created_at'), name: 'created_at', value: true, checked: false
        }
    ]
) %>
