<div class="table-scrollable">
    <table class="table table-bordered table-striped flip-content">
        <thead class="flip-content">
            <tr>
                <th class="text-left bg-yellow bg-font-yellow text-nowrap">Mã SP</th>
                <th class="bg-yellow bg-font-yellow text-nowrap">Tên SP</th>
                <th class="bg-yellow bg-font-yellow text-nowrap">Loại</th>
                <th class="bg-yellow bg-font-yellow text-nowrap">Đơn vị tính</th>
                <th class="bg-yellow bg-font-yellow text-nowrap text-right">Giá bán<sup>(1)</sup></th>
                <th class="bg-yellow bg-font-yellow text-nowrap text-right">Số lượng<sup>(2)</sup></th>
                <th class="bg-yellow bg-font-yellow text-nowrap text-right" title="(3) = (1) x (2)">Thành tiền<sup>(3)</sup></th>
                <th class="bg-yellow bg-font-yellow text-nowrap text-right">Giảm giá<sup>(4)</sup></th>
                <th class="bg-yellow bg-font-yellow text-nowrap text-right">Phí v.chuyển<sup>(5)</sup></th>
                <th class="bg-yellow bg-font-yellow text-nowrap text-right" title="(6) = (3) - (4) + (5)">Tổng cộng<sup>(6)</sup></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="bg-green" colspan="5"><strong> TỔNG CỘNG </strong></td>
                <td class="bg-green text-right"><strong><%= @order.items_count %></strong></td>
                <td class="bg-green text-right"><strong><%= format_price(@order.subtotal) %></strong></td>
                <td class="bg-green text-right"><strong><%= @order.discount_amount == 0 ? '' : format_price(@order.discount_amount) %></strong></td>
                <td class="bg-green text-right"><strong><%= @order.shipping_amount == 0 ? '' : format_price(@order.shipping_amount) %></strong></td>
                <td class="bg-green text-right"><strong><%= format_price(@order.cache_total) %></strong></td>
            </tr>
            <% @order.order_details.each do |order_detail| %>
                <tr>
                    <td class="text-left"><strong><%= order_detail.product_code %></strong></td>
                    <td class="text-left"><%= order_detail.product_name %></td>
                    <td class="text-left"><%= order_detail.product_category_name %></td>
                    <td class="text-left"><%= order_detail.product_unit_name %></td>
                    <td class="text-right"><%= format_price(order_detail.price) %></td>
                    <td class="text-right"><%= format_number(order_detail.quantity) %></td>
                    <td class="text-right"><%= format_price(order_detail.subtotal) %></td>
                    <td class="text-right"><%= order_detail.discount.nil? ? '' : format_price(order_detail.discount) %></td>
                    <td class="text-right"><%= order_detail.shipping_fee.nil? ? '' : format_price(order_detail.shipping_fee) %></td>
                    <td class="text-right"><%= format_price(order_detail.total) %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>