<% tabid = unique_id %>
<div class="tabbable-custom ">
    <ul class="nav nav-tabs ">
        <li class="active">
            <a href="#tab_<%= tabid %>_1" data-toggle="tab">
                <i class="glyphicon glyphicon-list-alt"></i>
                <%= t('.order_details') %>
            </a>
        </li>

        <% if @order.get_order_stock_check.present? and @order.get_order_stock_check.is_done? %>
            <li>
                <a href="#tab_<%= tabid %>_2" data-toggle="tab">
                    <i class="glyphicon glyphicon-check"></i>
                    <%= t('.order_stock_check_details') %>
                </a>
            </li>
        <% end %>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab_<%= tabid %>_1">
            <div class="table-scrollable">
                <table class="table table-bordered table-advance order-column">
                    <thead class="flip-content">
                        <tr>
                            <th class="text-left bg-yellow bg-font-yellow text-nowrap" width="20%">Tên hàng</th>
                            <th class="bg-yellow bg-font-yellow text-nowrap">ĐVT</th>
                            <th class="text-right bg-yellow bg-font-yellow text-nowrap">Giá bán<sup>(1)</sup></th>
                            <th class="text-right bg-yellow bg-font-yellow text-nowrap">Số lượng<sup>(2)</sup></th>
                            <th class="text-right bg-yellow bg-font-yellow text-nowrap" title="(3) = (1) x (2)">Thành tiền<sup>(3)</sup></th>
                            <th class="text-right bg-yellow bg-font-yellow text-nowrap">Giảm<sup>(4)</sup></th>
                            <th class="text-right bg-yellow bg-font-yellow text-nowrap">Phí v.chuyển<sup>(5)</sup></th>
                            <th class="text-right bg-yellow bg-font-yellow text-nowrap" title="Tổng tiền trước thuế: (6) = (3) - (4) + (5)">Tổng cộng<sup>(6)</sup></th>
                            <th class="text-right bg-yellow bg-font-yellow text-nowrap">Tiền VAT<sup>(7)</sup></th>
                            <th class="text-right bg-yellow bg-font-yellow text-nowrap" title="Tổng cần thanh toán (đã gồm VAT): (8) = (6) + (7)">Tổng thanh toán<sup>(8)</sup></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="bg-green" colspan="3"><strong> TỔNG CỘNG </strong></td>
                            <td class="bg-green text-right"><strong><%= @order.items_count %></strong></td>
                            <td class="bg-green text-right"><strong><%= format_price(@order.subtotal) %></strong></td>
                            <td class="bg-green text-right"><strong><%= @order.discount_amount == 0 ? '' : format_price(@order.discount_amount) %></strong></td>
                            <td class="bg-green text-right"><strong><%= @order.shipping_amount == 0 ? '' : format_price(@order.shipping_amount) %></strong></td>
                            <td class="bg-green text-right"><strong><%= format_price(@order.total_without_tax) %></strong></td>
                            <td class="bg-green text-right"><strong><%= format_price(@order.cache_tax_amount) %></strong></td>
                            <td class="bg-green text-right"><strong><%= format_price(@order.cache_total) %></strong></td>
                        </tr>
                        <% @order.order_details.each do |order_detail| %>
                            <tr>
                                <td class="text-left"><strong><%= order_detail.product_name %></strong></td>
                                <td class="text-left"><%= order_detail.product_unit_name %></td>
                                <td class="text-right"><%= format_price(order_detail.price) %></td>
                                <td class="text-right"><%= format_number(order_detail.quantity) %></td>
                                <td class="text-right"><%= format_price(order_detail.subtotal) %></td>
                                <td class="text-right"><%= order_detail.discount.nil? ? '' : format_price(order_detail.discount) %></td>
                                <td class="text-right"><%= order_detail.shipping_fee.nil? ? '' : format_price(order_detail.shipping_fee) %></td>
                                <td class="text-right"><%= format_price(order_detail.total_without_tax) %></td>
                                <td class="text-right"><%= format_price(order_detail.tax_amount) %></td>
                                <td class="text-right"><%= format_price(order_detail.total) %></td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>

        <% if @order.get_order_stock_check.present? and @order.get_order_stock_check.is_done? %>
            <div class="tab-pane" id="tab_<%= tabid %>_2">
                <div class="table-scrollable">
                    <table class="table table-bordered table-advance order-column">
                        <thead class="flip-content">
                            <tr>
                                <th class="text-left bg-yellow bg-font-yellow text-nowrap" width="20%">Tên hàng</th>
                                <th class="bg-yellow bg-font-yellow text-nowrap">Đơn vị tính</th>
                                <th class="bg-yellow bg-font-yellow text-nowrap text-right">Giá bán</th>
                                <th class="bg-yellow bg-font-yellow text-nowrap text-right">Số lượng</th>
                                <th class="bg-yellow bg-font-yellow text-nowrap text-center">Hàng đang có sẵn</th>
                                <th width="20%" class="bg-yellow bg-font-yellow text-nowrap text-left">Ghi chú</th>
                                <th class="bg-yellow bg-font-yellow text-nowrap text-left">Hàng thay thế</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% @order.schecks.last.scheck_details.order('created_at desc').each do |scheck_detail| %>
                            <tr>
                                <td class="text-left"><strong><%= scheck_detail.order_detail.product_name %></strong></td>
                                <td class="text-left"><%= scheck_detail.order_detail.product_unit_name %></td>
                                <td class="text-right"><%= format_price(scheck_detail.order_detail.price) %></td>
                                <td class="text-right"><%= scheck_detail.order_detail.quantity %></td>
                                <td class="text-center">
                                    <%= raw scheck_detail.available? ? '<i class="fa fa-check font-green-jungle"></i>' : '<i class="fa fa-close font-red-thunderbird"></i>' %>
                                </td>
                                <td class="text-left"><%= scheck_detail.note %></td>
                                <td class="text-left"><%= raw scheck_detail.get_alternative_item_names.join('<br>') %></td>
                            </tr>
                            <% end %>
                        </tbody>
                    </table>
                </div>
            </div>
        <% end %>
    </div>
</div
